# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database/Indices
# db/faiss_index/

# Data
# papers/  # Bỏ comment nếu bạn không muốn đẩy tài liệu lên GitHub

# OS
.DS_Store
Thumbs.db
